body,
div,
ul,
li,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Metrophobic", sans-serif;
}

.biopic,
.proj-pic,
object,
video {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 2px 2px 5px #888;
  margin: 4px 10px 16px;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.online-education-entry,
.work-entry,
.volunteering-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 60px;
  color: #304FFE;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #304ffe;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding: 10px 5%;
}

hr {
  border-color: #ffee58;
  border-style: dashed;
  margin-top: 0;
}

em {
  color: #424242;
}

#name {
  margin-top: 36px;
}

.role {
  font-family: "Karma", serif;
  font-size: 36px;
  color: #424242;
}

.fixed-right {
  position: fixed;
  top: 10px;
  right: 20px;
  opacity: 0.8;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #616161;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
}

p {
  font-size: 16px;
  color: #333;
  line-height: 21px;
  padding: 4px 0 8px;
}

a {
  font-size: 18px;
  color: #ff5722;
  text-decoration: none;
  padding: 5px 0 5px;
  display: block;
}

.anchor {
  padding: 0;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #304ffe;
  display: none;
}

.yellow {
  background-color: #ffee58;
}

.purple-text {
  font-size: 18px;
  color: #4a148c;
}

.white-text {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.gray {
  background-image: url("../images/concrete_seamless/concrete_seamless.png");
  padding-bottom: 10px;
  clear: both;
}

.blue {
  background-color: #00b8d4;
}

#header {
  background-color: #00b8d4;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-item {
  .flex-box;
  padding: 5px;
  margin: 5px;
  background-color: #311b92;
  border-radius: 4px;
  box-shadow: 2px 2px 5px #ffee58;
}

#skills {
  justify-content: start;
}

#skill {
  white-space: nowrap;
  overflow: hidden;
  height: 24px;
  text-align: center;
  margin-left: 10px;
  padding-bottom: 30px;
}

.internationalize {
  float: right;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  width: 200px;
  display: none;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  };
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  };
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }

  .biopic {
    width: 150px;
  }

  .welcome-message {
    display: none;
  };
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
  margin-bottom: 20px;
}

@media only screen and (max-width: 700px) {
  #name {
    display: block;
  }
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  };
}
